* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(146, 163, 162, 0.2);
    backdrop-filter: blur(10px);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(30, 41, 82);
}

.header-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logo-diamond {
    width: 40px;
    margin: 0 10px;
}

h1 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    width: 100%;
}

h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    width: 100%;
}

h3#thanks {
    color: rgb(46, 238, 101);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: none; /* Sembunyikan menu text di perangkat mobile */
    flex-direction: column; /*Tumpuk item secara vertikal */
}

.nav-list.active {
    display: flex; /* Tampilkan menu ketika aktif */
}

.nav-list li {
    width: 6rem;
    padding: 10px 1rem;
    text-align: center;
}

.list-menu:hover {
    background-color: rgb(89, 89, 182);
    border-radius: 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    cursor: pointer;
}

.link-web {
    color: rgb(100, 255, 65);
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
}

.about-container {
    padding: 2.5rem 2rem 1rem;
    border-radius: 10px;
    /* background-color: rgba(100, 95, 158, 0.996); */
    width: 100%;
}

label {
    color: rgb(255, 255, 255);
    font-family: Calibri;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#tentang {
    width: 100%;
    text-align: center;
}

.dev-card {
    columns: 2;
    display: flex;
    border: 2px solid #29f4ff;
    border-radius: 15px;
    background-color: rgba(100, 95, 158, 0.996);
    margin-bottom: 12px;
}

.dev-card:hover {
    background-color: rgba(175, 175, 212, 0.996);
}

.dev-image {
    display: flex;
    border: 2px solid #29f4ff;
    border-radius: 15px;
    margin: 8px;
    width: 80px;
}

.about-list {
    columns: 2;
    width: 100%;
    display: flex;
    align-items: start;
}

.about-list li {
    margin: 0.5rem 0;
}

ul#thanks-list {
    padding: 1rem;
    font-size: 15px;
    width: 50%;
    color: rgb(130, 228, 130);
}

ul#references-list {
    padding: 1rem;
    font-size: 15px;
    width: 50%;
    color: rgb(130, 228, 130);
}

li a {
    color: #fff;
}

.footer {
    background-color: rgba(146, 163, 162, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: auto;
}

/* Media query untuk tampilan desktop */
@media (min-width: 768px) {
    .nav-list {
        display: flex; /* Tampilkan menu di desktop */
        flex-direction: row; /* Item sejajar secara horizontal */
    }

    .nav-menu {
        display: none; /* Sembunyikan garis tiga di desktop */
    }
}
